APP_NAME="ai-power-resume"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES = [
    "text/plain",  # .txt
    "application/pdf",  # .pdf
    "application/msword",  # .doc
    "application/vnd.openxmlformats-officedocument.wordprocessingml.document"  # .docx
]
FILE_MAX_SIZE=16
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB
