fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
aiofiles

langchain
langchain-community

motor
qdrant-client
chromadb

python-magic
python-docx
PyMuPDF

spacy
sentence-transformers
